*{
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 221, 185);
    background-image:url(https://i.postimg.cc/vH7CcHxL/fondo-Surati.png);
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: center;
}
header{
    display: flex;
    background-color: #f27405;
    height: 10em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    position: relative;
    top: 0px;
}
main{
    margin: 2em;
    display: flex;
    flex-direction: column;
}
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
}
footer{
    display: flex;
    background-color: #f27405;
    width: 100%;
    height: 7em;
    position: sticky;
    bottom: 0;
}
p{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bolder;
}
.tarjeta, .tarjetaCompra, .bajoStock{
    display: grid;
    width: 15em;
    grid-template-rows: 15% 50% 15% 10%;
    justify-items: center;
    background-image: url(https://i.postimg.cc/xkC07kj2/cards.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1em;
}
#info{
    display: flex;
    background-color: #f2b705;
    width: 30vw;
    padding: 2em;
    margin: 1em;
    border-radius: 1em;
    }
.tarjetaCompra{
    grid-template-rows: 15% 30% 10% 10% 10%;
    justify-content: center;
}
.tarjeta:hover, .bajoStock:hover{
    transition: all 0.7s;
    transform: scale(1.06);
}
.bajoStock{
    grid-template-rows: 15% 50% 15% 10% 5%;
    align-items: center;
}
.toastify{
    height: auto;
}
#contenedorImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.tarjeta img {
    display: flex;
    flex-flow: column wrap;
    margin: 5%;
}
button:hover{
    transition: all 0.7s;
    transform: translateY(-0.4em);
}
.tarjeta button, .tarjetaCompra button, .bajoStock button{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 9em;
    height: 3em;
    margin: 5%;
    border-style: none;
    transform: none;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 3%;
}
div#logo:hover{
    transition:all 0.7s;
    transform:scale(1.1);
}
header div img{
    margin-left: 70%;
    height: 8em;
    width: 8em;
}
#botones{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div button{
    margin: 5%;
    height: 3em;
    background-image: url(https://i.postimg.cc/fbQVW5qG/button.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: rgba(253, 253, 253, 0);
    box-sizing: border-box;
    border-style: none;
    border: none;
    width: 11em;
}
.busca{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}
.bt:hover{
    transition: all 0.5s;
    width: 12em
}
#buscar, #buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10%;
    height: 2em;
    border: #f2b705;
}
#buscar:hover{
    transition: all 0.5s;
    scale: 1.15;
}