body{
    display: grid;
    grid-template-rows: 30vh 60vh 10vh;
    background-color: rgb(255, 221, 185);
    background-image:url(https://i.postimg.cc/kG72b57s/logo-Surat.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -0px -15vh;
}
header{
    display: flex;
    background-color: #f27405;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
div#logo:hover{
    transition:all 0.7s;
    transform:scale(1.1);
}
main section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40vh;
}
.tarjetaCompra{
    display: grid;
    grid-template-rows: 15% 30% 10% 10% 10%;
    width: 16em;
    justify-content: center;
    background-image: url(https://i.postimg.cc/xkC07kj2/cards.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tarjeta{
    display: grid;
    width: 15em;
    margin: 2em;
    grid-template-rows: 15% 50% 15% 10%;
    align-items: center;
    justify-items: center;
    background-image: url(https://i.postimg.cc/xkC07kj2/cards.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tarjeta:hover{
    transition: all 0.7s;
    transform: scale(1.07);
}
.bajoStock{
    display: grid;
    grid-template-rows: 15% 50% 15% 10% 5%;
    font-size: 0.7em;
    width: 22em;
}
#contenedorImg{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.tarjeta img {
    display: flex;
    flex-flow: column wrap;
    margin: 5%;
}
p{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bolder;
}
button:hover{
    transition: all 0.7s;
    transform: scale(1.1);
}
.tarjeta button{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 9em;
    height: 3em;
    margin: 5%;
    border-style: none;
    transform: none;
}
.bt:hover{
    transition: all 0.7s;
    width: 12em
}
#logo{
    display: flex;
}
header div img{
    margin-left: 70%;
    height: 8em;
    width: 8em;
}
#botones{
    display: flex;
    flex-direction: row;
}
div button{
    margin: 5%;
    height: 5em;
    background-image: url(https://i.postimg.cc/fbQVW5qG/button.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: rgba(253, 253, 253, 0);
    box-sizing: border-box;
    border-style: none;
    border: none;
    width: 12em;
}
.busca{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
}
#buscar, #buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10%;
}